p{
    border: solid green;
    margin: 60px 30px 15px;
    padding: 20px;
}
hr{
    border-top: 5px solid yellow;
    height: 5px;
    background-color: aqua;
    border-bottom: 5px solid yellowgreen;
}
.rojo_negrita{
    color: red;
    font-weight: bold;
}
#texto_especial{
    color: blueviolet;
}